.form {
}
.toolbar {
  position: sticky;
  top: calc(var(--pad) * -1);
  background: var(--panel-color);
  display: flex;
  button {
    margin-right: var(--pad-small);
  }

  padding: var(--pad-small) 0;
}

.error {
  border: 1px solid #d00;
  background: #eaa;
  color: #300;
  padding: var(--pad-small);
  border-radius: var(--border-radius);
}
