:root {
  --pad: 8px;
  --border-radius: 8px;
  --background: linear-gradient(to bottom, #ff7e5f, #feb47b);
  --on-background: #242424;

  --panel-color: rgba(255, 255, 255, 0.9);
  --on-panel-color: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

}

html {
  background: var(--background);
  background-attachment: fixed;
  color: var(--on-background);
  min-height: 100%;
}
