:root {
  --primary-color: hsl(12, 100%, 66%);
  --on-primary-color: #fff;
  --secondary-color: #feb47b;
  --on-secondary-color: #fff;
  --pad: 24px;
  --pad-small: 16px;
  --pad-tiny: 8px;
  --border-radius: 12px;
  --background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  --on-background: #242424;
  --button-color: var(--primary-color);
  --on-button-color: var(--on-primary-color);
  --alt-row-color: hsla(12, 100%, 66%, 0.15);
  --hover-row-color: hsla(12, 100%, 66%, 0.3);

  --panel-color: hsl(12, 4%, 97%);
  --on-panel-color: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

}

html {
  background: var(--background);
  background-attachment: fixed;
  color: var(--on-background);
  min-height: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
button {
  background: var(--primary-color);
  color: var(--on-primary-color);
  border-radius: 4px;
  border: 0;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: var(--secondary-color);
    color: var(--on-secondary-color);
  }
}
input {
  border: 1px solid var(--secondary-color);
  padding: var(--pad-tiny);
  margin: var(--pad-tiny);
  border-radius: 6px;
  &:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    outline: 0;
  }
}
